!!!5
html
  head
    title Facebook Demo
    script(src="//code.jquery.com/jquery-1.9.0.js")
  body
    span Hello There
    button.js-fb-login(type='button') Login
    #fb-root
    script(src="//connect.facebook.net/en_US/all/debug.js")
    script(src="browser.js")
